[submodule "plugins/lsp4ij"]
	path = plugins/lsp4ij
	url = git@github.com:hcengineering/lsp4ij.git
[submodule "plugins/hulylabs.treesitter"]
	path = plugins/hulylabs.treesitter
	url = https://github.com/hcengineering/huly-code-treesitter
[submodule "plugins/hulylabs.cline"]
	path = plugins/hulylabs.cline
	url = git@github.com:hcengineering/huly-code-cline.git
